@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small app-specific defaults */
html,
body {
  height: 100%;
  background-color: #0c1327; /* Updated background color */
}

body {
  @apply text-slate-50 antialiased;
  background-color: #0c1327; /* Ensure consistent background */
}
